* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#img {
    width: 100%;
    display: block
}

.main {
    background: #b9bdde;
    text-align: center;
    line-height: 1.5;
    height: 300px;
}

#t1 {
    padding: 40px 0 10px 0;
}

.inferior {
    background-color: #73649b;
    padding: 30px;
    color:#000000;
}

.texto {
    line-height: 1.5;
    width: 50%;
    display: inline-block;
    margin: 0 50px 0 0;
    vertical-align: top;
}

.img2 {
    width: 40%;
}

#t2 {
    font-size: 22px;
    margin: 0 0 10px 0;
}

footer{
    text-align: center;
    background: #31233a;
    color: #f3f2fb;
        line-height: 1.8;
        padding: 50px;
}

#copy{
    margin: 40 0 0 0px;
    font-size: 14px;
}
header{
    position: fixed;
    color: rgb(7, 32, 116);
    font-size: 22px;
    background: rgba(255, 2555, 255, 0.1);
    width: 100%;
    padding: 10px;
}

span{
    color: rgb(62, 17, 102);
}